In [1]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df():
    def make_df(condition):
        df = pd.read_csv(f"data/{condition}_global.csv")
        df = df.drop(["Province/State", "Country/Region", "Lat",
                      "Long"], axis=1).sum().reset_index(name=condition)
        df = df.rename(columns={'index': 'date'})
        return df

    final_df = None

    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df

global_df = make_global_df()
global_df

         date  confirmed   deaths  recovered
0     1/22/20        555       17         28
1     1/23/20        654       18         30
2     1/24/20        941       26         36
3     1/25/20       1434       42         39
4     1/26/20       2118       56         52
..        ...        ...      ...        ...
258   10/6/20   35806972  1049875   24981297
259   10/7/20   36156226  1055683   25236697
260   10/8/20   36515563  1061877   25456143
261   10/9/20   36876248  1068040   25661425
262  10/10/20   37180308  1072306   25853532

[263 rows x 4 columns]